
<!--mixin icon(name)-->
<!--    i.icon-#{name}-->
<form novalidate="novalidate" ng-controller="clearcode.tm.debug.WebsitesController as websitesCtrl" ng-init="websitesCtrl.validateContainer = false">
  <div class="form-group">
    <a class="btn btn-default btn-md" id="webite-add-button" ng-click="websitesCtrl.addContainerWebsite()" ng-if="!websitesCtrl.websites || websitesCtrl.websites.length === 0" ng-disabled="!currentContainer.$container.hasPermission('edit')" translate="Add a website(s)">
    </a>
  </div>
  <div ng-repeat="website in websitesCtrl.websites" ng-class="{'has-error': undefined['websiteValue[{{$index}}]'].$invalid &amp;&amp; ( undefined['websiteValue[{{$index}}]'].$dirty || websitesCtrl.validateContainer ) }" class="form-inline bottom-space">
    <div class="row">
      <div class="form-group col-sm-5">
        <input type="url" style="width: 100%" ng-model="website.url" name="websiteValue[{{$index}}]" id="website-form-{{$index}}-input-value" required="required" ng-disabled="!currentContainer.$container.hasPermission('edit')" class="form-control"/>
      </div>
      <div class="form-group">
        <select ng-model="website.parameterType" cc-select="cc-select" ng-options="parType.id as parType.name for parType in websitesCtrl.parameterTypes" cc-select-options="websitesCtrl.parameterTypes" cc-select-value="value" cc-select-label="name" class="form-control websites-parameter-type"></select>
      </div>
      <div class="form-group">
        <a class="btn btn-default btn-md" ng-href="{{ getWebsiteUrlWithParameter(website) }}" target="_blank" id="website-form-{{$index}}-debug-button" ng-disabled="!getWebsiteUrlWithParameter(website)"><span translate="Debug"></span>
        </a>
      </div>
      <div class="form-group">
        <button ng-click="websitesCtrl.removeContainerWebsite($index)" id="website-form-{{$index}}-remove-button" ng-if="currentContainer.$container.hasPermission('edit')" class="btn btn-default btn-action">-</button>
      </div>
      <div class="form-group">
        <button ng-show="$last" ng-click="websitesCtrl.addContainerWebsite()" id="website-form-{{$index}}-add-button" ng-if="currentContainer.$container.hasPermission('edit')" class="btn btn-default btn-action">+</button>
      </div>
    </div>
    <div class="row">
      <div ng-show="undefined['websiteValue[{{$index}}]'].$invalid &amp;&amp; ( undefined['websiteValue[{{$index}}]'].$dirty || websitesCtrl.validateContainer )" class="col-lg-8">
        <p translate="Valid website address is required" class="error"></p>
      </div>
    </div>
  </div>
  <div class="form-inline">
    <div class="form-group">
      <input type="submit" value="{{&quot;Save&quot;|translate}}" class="btn btn-primary" id="website-form-submit-button" ng-click="undefined.$valid ? websitesCtrl.submitForm(websitesCtrl.container) : websitesCtrl.validateContainer = true" ng-disabled="!currentContainer.$container.hasPermission('edit')"/>
    </div>
  </div>
</form>