
<!--mixin icon(name)-->
<!--    i.icon-#{name}-->
<form name="changePasswordForm" novalidate="novalidate" stg-form="stg-form" form-resource="changePassword.changePasswordPromise">
  <div class="row">
    <div class="col-lg-8 col-md-12 col-sm-12">
      <div ng-class="{'has-error': (changePasswordForm.current_password.$dirty &amp;&amp; changePasswordForm.current_password.$invalid) || (changePassword.validationForce &amp;&amp; changePasswordForm.current_password.$error.required), 'has-feedback': (changePasswordForm.current_password.$dirty &amp;&amp; changePasswordForm.current_password.$invalid) || (changePassword.validationForce &amp;&amp; changePasswordForm.current_password.$error.required)}" class="form-group">
        <label ng-class="{'error': (changePasswordForm.current_password.$dirty &amp;&amp; changePasswordForm.current_password.$invalid) || (changePassword.validationForce &amp;&amp; changePasswordForm.current_password.$error.required)}" class="control-label">{{'Current password'|translate}} <span class="important">*</span></label>
        <input type="password" name="current_password" ng-model="changePassword.currentPassword" ng-keypress="changePasswordForm.current_password.$error.current_password !== undefined ? changePasswordForm.current_password.$error = {} : ''" class="form-control" id="profile-edit-current-pass" ng-required="true"/>
        <div id="undefined-validation-message" ng-show="(changePasswordForm.current_password.$error.required &amp;&amp; changePasswordForm.current_password.$dirty) || (changePassword.validationForce &amp;&amp; changePasswordForm.current_password.$error.required)">
          <p translate="Required" class="error"></p>
        </div>
        <div id="undefined-validation-message" ng-show="changePasswordForm.current_password.$error.current_password">
          <p ng-repeat="error in changePasswordForm.current_password.$error.current_password" class="error">{{ error|translate }}</p>
        </div>
      </div>
    </div>
    <div class="col-lg-4">
      <!-- Place for help-->
    </div>
  </div>
  <div class="row">
    <div class="col-lg-8 col-md-12 col-sm-12">
      <div ng-class="{'has-error': (changePasswordForm.first.$dirty &amp;&amp; changePasswordForm.first.$invalid) || (changePassword.validationForce &amp;&amp; changePasswordForm.first.$error.required), 'has-feedback': (changePasswordForm.first.$dirty &amp;&amp; changePasswordForm.first.$invalid) || (changePassword.validationForce &amp;&amp; changePasswordForm.first.$error.required)}" class="form-group">
        <label ng-class="{'error': (changePasswordForm.first.$dirty &amp;&amp; changePasswordForm.first.$invalid) || (changePassword.validationForce &amp;&amp; changePasswordForm.first.$error.required)}" class="control-label">{{'New password'|translate}} <span class="important">*</span></label>
        <input type="password" name="first" ng-model="changePassword.new.first" ng-keypress="changePasswordForm.first.$error.first !== undefined ? changePasswordForm.first.$error = {} : ''" class="form-control" id="profile-edit-new-password" ng-required="true"/>
        <div id="undefined-validation-message" ng-show="(changePasswordForm.first.$error.required &amp;&amp; changePasswordForm.first.$dirty) || (changePassword.validationForce &amp;&amp; changePasswordForm.first.$error.required)">
          <p translate="Required" class="error"></p>
        </div>
        <div id="undefined-validation-message" ng-show="changePasswordForm.first.$error.first">
          <p ng-repeat="error in changePasswordForm.first.$error.first" class="error">{{ error|translate }}</p>
        </div>
      </div>
    </div>
    <div class="col-lg-4">
      <!-- Place for help-->
    </div>
  </div>
  <div class="row">
    <div class="col-lg-8 col-md-12 col-sm-12">
      <div ng-class="{'has-error': (changePasswordForm.second.$dirty &amp;&amp; changePasswordForm.second.$invalid) || (changePassword.validationForce &amp;&amp; changePasswordForm.second.$error.required), 'has-feedback': (changePasswordForm.second.$dirty &amp;&amp; changePasswordForm.second.$invalid) || (changePassword.validationForce &amp;&amp; changePasswordForm.second.$error.required)}" class="form-group">
        <label ng-class="{'error': (changePasswordForm.second.$dirty &amp;&amp; changePasswordForm.second.$invalid) || (changePassword.validationForce &amp;&amp; changePasswordForm.second.$error.required)}" class="control-label">{{'Repeat new password'|translate}} <span class="important">*</span></label>
        <input type="password" name="second" ng-model="changePassword.new.second" ng-keypress="changePasswordForm.second.$error.second !== undefined ? changePasswordForm.second.$error = {} : ''" class="form-control" id="profile-edit-confirm-new-password" ng-required="true" ng-match="changePassword.new.first"/>
        <div id="undefined-validation-message" ng-show="(changePasswordForm.second.$error.required &amp;&amp; changePasswordForm.second.$dirty) || (changePassword.validationForce &amp;&amp; changePasswordForm.second.$error.required)">
          <p translate="Required" class="error"></p>
        </div>
        <div id="undefined-validation-message" ng-show="changePasswordForm.second.$error.second">
          <p ng-repeat="error in changePasswordForm.second.$error.second" class="error">{{ error|translate }}</p>
        </div>
      </div>
    </div>
    <div class="col-lg-4">
      <!-- Place for help-->
    </div>
  </div>
</form>