
<div class="row">
  <cc-breadcrumb ng-hide="view.success || $state.includes('containerExplanation')"></cc-breadcrumb>
</div>
<div class="row">
  <div cg-busy="{promise: view.resetPromise, templateUrl: &quot;app/views/loader.html&quot;}" class="panel panel-default">
    <div class="panel-body">
      <cc-notification-form ng-if="$state.includes('editProfile')" ng-show="!view.loading"></cc-notification-form>
      <h4 ng-hide="view.success" class="form-heading">{{'Forgot your password?'|translate}}</h4>
      <p ng-hide="view.success" class="stg-standalone-text">{{'Please enter your email address below. We will send you an email with the link to reset your password.'|translate}}</p>
      <form name="resetPasswordForm" novalidate="novalidate" stg-form="stg-form" form-resource="view.profilePromise">
        <div ng-hide="view.success">
          <div ng-class="{'has-error': (resetPasswordForm.email.$dirty &amp;&amp; resetPasswordForm.email.$invalid &amp;&amp; resetPasswordForm.email.$touched) || (resetPasswordForm.email.$error.required &amp;&amp; resetPasswordForm.email.$touched) || (view.validationForce &amp;&amp; resetPasswordForm.email.$error.required), 'has-feedback': (resetPasswordForm.email.$dirty &amp;&amp; resetPasswordForm.email.$invalid) || (view.validationForce &amp;&amp; resetPasswordForm.email.$error.required)}" class="form-group">
            <label ng-class="{'error': (resetPasswordForm.email.$dirty &amp;&amp; resetPasswordForm.email.$invalid) || (view.validationForce &amp;&amp; resetPasswordForm.email.$error.required)}" class="control-label">{{'Email'|translate}} <span class="important">*</span></label>
            <input type="email" name="email" ng-model="view.email" ng-keypress="resetPasswordForm.email.$error.email !== undefined ? resetPasswordForm.email.$error = {} : ''" class="form-control" id="reset-field-new-password" ng-required="true"/>
            <div ng-if="resetPasswordForm.$error.email &amp;&amp; resetPasswordForm.email.$touched">
              <p translate="Invalid email address" class="error"></p>
            </div>
            <div id="reset-field-new-password-validation-message" ng-show="(resetPasswordForm.email.$error.required &amp;&amp; resetPasswordForm.email.$dirty) || (view.validationForce &amp;&amp; resetPasswordForm.email.$error.required)">
              <p translate="Required" class="error"></p>
            </div>
            <div id="undefined-validation-message" ng-show="resetPasswordForm.email.$error.email">
              <p ng-repeat="error in resetPasswordForm.email.$error.email" class="error">{{ error|translate }}</p>
            </div>
          </div>
        </div>
        <div ng-show="view.success" class="alert alert-empty reset-success">
          <h2 class="text-center"><strong translate="The email with the activation link has been sent successfully."></strong></h2>
          <p translate="Please check your email. You should receive a message with the activation link." class="text-center"></p>
          <p class="text-center action"><a href="href" ui-sref="signIn" translate="Log in page" class="btn btn-primary"></a></p>
        </div>
        <div ng-hide="view.success">
          <input type="submit" value="{{'Submit'|translate}}" class="btn btn-primary" id="container-form-submit-button" ng-click="resetPasswordForm.$valid ? view.submitForm(view.email) : view.displayInvalidFormMessage()"/>
        </div>
      </form>
    </div>
  </div>
</div>