
<div class="row">
  <cc-breadcrumb ng-hide="view.success || $state.includes('containerExplanation')"></cc-breadcrumb>
</div>
<div class="row">
  <div cg-busy="{promise: view.containerPromise, templateUrl: &quot;app/views/loader.html&quot;}" class="panel panel-default">
    <div class="panel-body">
      <cc-notification-form ng-if="$state.includes('editProfile')" ng-show="!view.loading"></cc-notification-form>
      <h4 ng-hide="view.success" class="form-heading">{{'Reset password'|translate}}</h4>
      <form name="resetPasswordForm" novalidate="novalidate" stg-form="stg-form" form-resource="view.changePasswordPromise">
        <div class="row">
          <div class="col-lg-8 col-md-12 col-sm-12">
            <div ng-class="{'has-error': (resetPasswordForm.first.$dirty &amp;&amp; resetPasswordForm.first.$invalid) || (view.validationForce &amp;&amp; resetPasswordForm.first.$error.required), 'has-feedback': (resetPasswordForm.first.$dirty &amp;&amp; resetPasswordForm.first.$invalid) || (view.validationForce &amp;&amp; resetPasswordForm.first.$error.required)}" class="form-group">
              <label ng-class="{'error': (resetPasswordForm.first.$dirty &amp;&amp; resetPasswordForm.first.$invalid) || (view.validationForce &amp;&amp; resetPasswordForm.first.$error.required)}" class="control-label">{{'New password'|translate}} <span class="important">*</span></label>
              <input type="password" name="first" ng-model="view.new.first" ng-keypress="resetPasswordForm.first.$error.first !== undefined ? resetPasswordForm.first.$error = {} : ''" class="form-control" id="reset-field-new-password" ng-required="true" ng-minlength="8"/>
              <div id="undefined-validation-message" ng-show="(resetPasswordForm.first.$error.required &amp;&amp; resetPasswordForm.first.$dirty) || (view.validationForce &amp;&amp; resetPasswordForm.first.$error.required)">
                <p translate="Required" class="error"></p>
              </div>
              <div ng-show="resetPasswordForm.first.$error.minlength &amp;&amp; resetPasswordForm.first.$dirty" id="undefined-validation-message">
                <p translate="Too short" class="error"></p>
              </div>
              <div id="undefined-validation-message" ng-show="resetPasswordForm.first.$error.first">
                <p ng-repeat="error in resetPasswordForm.first.$error.first" class="error">{{ error|translate }}</p>
              </div>
            </div>
          </div>
          <div class="col-lg-4">
            <!-- Place for help-->
          </div>
        </div>
        <div class="row">
          <div class="col-lg-8 col-md-12 col-sm-12">
            <div ng-class="{'has-error': (resetPasswordForm.second.$dirty &amp;&amp; resetPasswordForm.second.$invalid) || (view.validationForce &amp;&amp; resetPasswordForm.second.$error.required), 'has-feedback': (resetPasswordForm.second.$dirty &amp;&amp; resetPasswordForm.second.$invalid) || (view.validationForce &amp;&amp; resetPasswordForm.second.$error.required)}" class="form-group">
              <label ng-class="{'error': (resetPasswordForm.second.$dirty &amp;&amp; resetPasswordForm.second.$invalid) || (view.validationForce &amp;&amp; resetPasswordForm.second.$error.required)}" class="control-label">{{'Repeat new password'|translate}} <span class="important">*</span></label>
              <input type="password" name="second" ng-model="view.new.second" ng-keypress="resetPasswordForm.second.$error.second !== undefined ? resetPasswordForm.second.$error = {} : ''" class="form-control" id="reset-field-confirm" ng-required="true" ng-minlength="8"/>
              <div id="undefined-validation-message" ng-show="(resetPasswordForm.second.$error.required &amp;&amp; resetPasswordForm.second.$dirty) || (view.validationForce &amp;&amp; resetPasswordForm.second.$error.required)">
                <p translate="Required" class="error"></p>
              </div>
              <div ng-show="resetPasswordForm.second.$error.minlength &amp;&amp; resetPasswordForm.second.$dirty" id="undefined-validation-message">
                <p translate="Too short" class="error"></p>
              </div>
              <div id="undefined-validation-message" ng-show="resetPasswordForm.second.$error.second">
                <p ng-repeat="error in resetPasswordForm.second.$error.second" class="error">{{ error|translate }}</p>
              </div>
            </div>
          </div>
          <div class="col-lg-4">
            <!-- Place for help-->
          </div>
        </div>
        <div class="form-group">
          <input type="submit" value="{{'Save'|translate}}" class="btn btn-primary" id="container-form-submit-button" ng-click="(resetPasswordForm.$valid &amp;&amp; view.new.first === view.new.second) ? view.submitForm(view.new) : view.displayInvalidFormMessage(view.new)"/>
        </div>
      </form>
    </div>
  </div>
</div>