.dropdown-menu.timepicker(style="min-width: 0px;width: auto;")
    table(height="100%")
        thead
            tr.text-center
                th
                    button.btn.btn-default.pull-left(tabindex="-1", type="button", ng-click="$arrowAction(-1, 0)")
                        i(class="{{ $iconUp }}")
                th $nbsp;
                th
                    button.btn.btn-default.pull-left(tabindex="-1", type="button", ng-click="$arrowAction(-1, 1)")
                        i(class="{{ $iconUp }}")
        tbody
            tr(ng-repeat="(i, row) in rows")
                td.text-center
                    button.btn.btn-default(tabindex="-1", style="width: 100%", ng-class="{'btn-primary': row[0].selected}", ng-click="$select(row[0].date, 0)", ng-disabled="row[0].disabled")
                        span(ng-class="{'text-muted': row[0].muted}", ng-bind="row[0].label")
                td
                    span(ng-bind="i == midIndex ? timeSeparator : ' '")
                td.text-center
                    button.btn.btn-default(tabindex="-1", ng-if="row[1].date", style="width: 100%", type="button", ng-class="{'btn-primary': row[1].selected}", ng-click="$select(row[0].date, 0)", ng-disabled="row[0].disabled")
                        span(ng-class="{'text-muted': row[1].muted}", ng-bind="row[1].label")
                td(ng-if="showAM") &nbsp;
                td(ng-if="showAM")
                    button.btn.btn-default(tabindex="-1", ng-show="i == midIndex - !isAM * 1", style="width: 100%", type="button", ng-class="{'btn-primary': isAM}", ng-click="switchMeridian()", ng-disabled="el.disabled") AM
                    button.btn.btn-default(tabindex="-1", ng-show="i == midIndex + 1 - !isAM * 1", style="width: 100%", type="button", ng-class="{'btn-primary': !isAM}", ng-click="switchMeridian()", ng-disabled="el.disabled") PM
        tfoot
            tr.text-center
                th
                    button.btn.btn-default.pull-left(tabindex="-1", type="button", ng-click="$arrowAction(1, 0)")
                        i(class="{{ $iconDown }}")
                th $nbsp;
                th
                    button.btn.btn-default.pull-left(tabindex="-1", type="button", ng-click="$arrowAction(1, 1)")
                        i(class="{{ $iconDown }}")
